.header-main {
  width: 100%;
  height: 60px;
  padding: 10px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: #efefef;
  .header-right {
    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 80px;
      li {
        list-style: none;
        font-size: 25px;
        cursor: pointer;
        position: relative;
        .team-length {
          position: absolute;
          content: '';
          top: -7px;
          right: -18px;
          z-index: 2;
        }
      }
    }
  }
}