<app-header></app-header>
<div class="home-page-main">
  <div class="search-system">
    <!-- domain -->
    <select name="domain" [(ngModel)]="searchDomain"
      (input)="searchUserDomain()"
    >
      <option value="">Domain</option>
      <option value="Finance">Finance</option>
      <option value="IT">IT</option>
      <option value="Sales">Sales</option>
      <option value="Marketing">Marketing</option>
      <option value="UI Designing">UI Designing</option>
      <option value="Business Development">Business Development</option>
      <option value="Management">Management</option>
    </select>
    <!-- gender -->
    <select name="gender" [(ngModel)]="searchGender"
    (input)="searchUserGender()">
      <option value="">Gender</option>
      <option value="Female">Female</option>
      <option value="Male">Male</option>
      <option value="Agender">Agender</option>
      <option value="Bigender">Bigender</option>
      <option value="Polygender">Polygender</option>
      <option value="Non-binary">Non-binary</option>
      <option value="Genderfluid">Genderfluid</option>
      <option value="Genderqueer">Genderqueer</option>
    </select>
    <!-- available -->
    <select name="availability" [(ngModel)]="searchAvailability"
    (input)="searchUserAvailability()">
      <option value="">Availability</option>
      <option value="true">Available</option>
      <option value="false">Not Available</option>
    </select>
  </div>
  <div class="section">
    <ng-container *ngFor="let user of usersData | paginate: { itemsPerPage : itemsPerPage, currentPage : userName}">
      <ng-container *ngIf="searchDomain === '' || user.domain.includes(searchDomain)">
        <ng-container *ngIf="searchGender === '' || user.gender.includes(searchGender)">
          <ng-container *ngIf="searchAvailability === '' || user.available.toString() === searchAvailability">
            <div class="container">
              <div class="container-up">
                <div class="prof-pic">
                  <img src="{{ user.avatar }}">
                </div>
                <div class="full-name">
                  <h3>{{ user.first_name + " " + user.last_name }}</h3>
                </div>
              </div>
              <div class="container-down">
                <p><b>Email:</b> {{ user.email }}</p>
                <p><b>Gender:</b> {{ user.gender }}</p>
                <p><b>Domain:</b> {{ user.domain }}</p>
                <p>
                  <ng-container *ngIf="user.available">
                    <p style="color: green;">User is available</p>
                  </ng-container>
                  <ng-container *ngIf="!user.available">
                    <p style="color: darkred;">User is not available</p>
                  </ng-container>
                </p>
                <ng-container *ngIf="user.available">
                  <button (click)="addInTeam(user)">Add in team</button>
                </ng-container>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
  <div class="pagination-system">
    <pagination-controls (pageChange)="userName = $event"></pagination-controls>
</div>
</div>